name: Test

on: [ push, pull_request ]

jobs:
  test:
    name: Run tests with pytest
    container: kunlp/jumanpp:ubuntu24.04
    runs-on: ubuntu-24.04
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install required apt packages
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -yq
          apt-get install -yq curl build-essential libsqlite3-dev libffi-dev
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --no-cache
      - name: Run tests
        run: uv run pytest -v ./tests
